/* Pricing Card  */
.pricing-card-wrap {
    @apply space-y-8 lg:grid lg:grid-cols-3 sm:gap-6 xl:gap-10 lg:space-y-0;
}

.pricing-card {
    @apply flex flex-col 
        max-w-lg 
        p-6 xl:p-8
        mx-auto
        text-center text-gray-900 bg-white 
        border border-gray-100 
        rounded-lg 
        shadow 
        dark:border-gray-600 dark:bg-gray-800 dark:text-white;
}

.pricing-card > h3 {
    @apply mb-4 text-2xl font-semibold;
}

.pricing-card > p {
    @apply font-light text-gray-500 sm:text-lg dark:text-gray-400;
}
.pricing-card > .price {
    @apply flex items-baseline justify-center
        my-8;
}

.pricing-card > ul {
    @apply mb-8 space-y-4 text-left;
}

.pricing-card > ul > li {
    @apply flex items-center space-x-3;
}

.pricing-card > .btn-link {
    @apply text-white font-medium text-sm text-center
        bg-purple-600 hover:bg-purple-700
        focus:ring-4 focus:ring-purple-200
        rounded-lg
        px-5 py-2.5
        dark:text-white dark:focus:ring-purple-900;
}
